@use '../styles/colors';

$border-thickness: 0.1rem;
$lightened: lighten(colors.$text-dim, 25);
button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: $border-thickness solid transparent;

  &.primary {
    background-color: $lightened;

    &:hover {
      background-color: lighten(colors.$text-dim, 15);
    }

    &:disabled {
      background-color: darken(colors.$text-dim, 22);
      color: darken(colors.$text-dim, 35);
    }
  }

  &.secondary {
    background-color: transparent;
    color: $lightened;
    border: $border-thickness solid $lightened;

    &:hover {
      background-color: colors.$text-dim;
      color: colors.$background-dark;
    }

    &:disabled {
      background-color: transparent;
      color: darken(colors.$text-dim, 30);
      border: $border-thickness solid darken(colors.$text-dim, 40);
    }

    &.success {
      color: colors.$success;
      border: $border-thickness solid (colors.$success);

      &:hover {
        color: colors.$background-dark;
        background-color: colors.$success;
      }
    }
  }

  &.error {
    color: colors.$primary-300;
    background-color: transparent;
    border: $border-thickness solid colors.$primary-300;

    &:hover {
      background-color: colors.$primary-300;
      color: colors.$background-dark;
    }

    &:disabled {
      background-color: transparent;
      color: colors.$surface-mixed-300;
      border: $border-thickness solid colors.$surface-mixed-300;
    }
  }

  &:disabled {
    cursor: default;
  }
}


