	/** SCSS DARK THEME PRIMARY COLORS */

	$primary-100: #f2591d;
	$primary-200: #f86e38;
	$primary-300: #fc8250;
	$primary-400: #ff9468;
	$primary-500: #ffa680;
	$primary-600: #ffb899;
	$primary-700: #fff2ed;


	/** SCSS DARK THEME SURFACE COLORS */

	$surface-100: #222831;
	$surface-200: #373c45;
	$surface-300: #4d525a;
	$surface-400: #64686f;
	$surface-500: #7c8086;
	$surface-600: #95989d;

	/** SCSS DARK THEME MIXED SURFACE COLORS */

	$surface-mixed-100: #382e31;
	$surface-mixed-200: #4b4245;
	$surface-mixed-300: #605759;
	$surface-mixed-400: #756d6f;
	$surface-mixed-500: #8a8486;


  $background-color: $surface-100;
  $background-dark: darken($background-color, 3);
  $text: #b1aaa8;
  $text-dim: $surface-600;
  $success: #84c318; // Green
  $warning: #DACC3E; // Yellow
